service: sabrewebtopticketing

provider:
  name: aws
  runtime: dotnetcore3.1
  stage: ${opt:stage,'dev'}
  region: ${opt:region, 'ap-southeast-2'}  
  environment:
    APP_VERSION: ${opt:appversion, '0.0.0.0'}
    SABRE_URL: ${self:custom.sabre_soap_uri.${self:provider.stage}}
    ENVIRONMENT: ${self:provider.stage}
  tracing:
    lambda: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - xray:PutTraceSegments
        - xray:PutTelemetryRecords
        - dynamodb:*
        - lambda:*
        - sqs:*
        - cloudformation:*
        - cloudformation:DescribeStacks
      Resource: "*"   

package:
  individually: true
  exclude:
    - buildspec.yml
    - build.sh

custom: 
  stages:
    - dev
    - stg
    - prod 
  sabre_soap_uri:
    dev: ${ssm:/dev/sabre-soap/uri}
    stg: ${ssm:/stg/sabre-soap/uri}
    prod: ${ssm:/prod/sabre-soap/uri} 
  
functions:
  SearchPNR:
    handler: CsharpHandlers::SabreWebtopTicketingService.Handler::SearchPNR
    timeout: 120
    package:
      artifact: bin/Release/netcoreapp3.1/sabrewebtopticketing.zip     
